<p>
  <strong>Title:</strong>
  <%= @banner.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @banner.description %>
</p>

<p>
  <strong>Actived:</strong>
  <%= @banner.actived %>
</p>

<p>
  <%= image_tag @banner.image %>
</p>

