<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Banners</h2>
      <%= link_to '<i class="fas fa-plus"></i>    Agregar banner'.html_safe, new_banner_path, remote: true, class: 'btn btn-sm btn-outline-success btn-block col-3 float-right' %>
      <br>
      <div class="table-responsive">
        <table class="table table-hover table-fullwidth">
          <thead>
            <tr>
              <th>ID</th>
              <th>Título</th>
              <th>Descripción</th>
              <th>Esta activo?</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody id="list">
            <%= render @banners %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render 'modal' %>
