<section class="hero-section">
	<div class="hero-slider owl-carousel">
			<%# @banners.each do |banner| %>
        <div class="hs-item set-bg" data-setbg="<%= asset_path 'system/blog-header.png' %>">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
              
							<span style="border: (0,0,0,0.5);">New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-dark">
						<span>from</span>
						<h2>$29</h2>
            
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
			
      <%# end %>

      <div class="hs-item set-bg" data-setbg="<%= asset_path 'system/dc-001.jpg' %>">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
              
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-dark">
						<span>from</span>
						<h2>$29</h2>
            
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>


      <div class="hs-item set-bg" data-setbg="<%= asset_path 'system/manga-02.jpg' %>">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
              
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-dark">
						<span>from</span>
						<h2>$29</h2>
            
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
      
      <div class="hs-item set-bg" data-setbg="<%= asset_path 'system/marvel-01.jpg' %>">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
              
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-dark">
						<span>from</span>
						<h2>$29</h2>
            
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section>