
<%= render 'shared/hero' %>
<br>

<div class="container">
  <hr>
  <br>
  <div class="col-12 mb-03">
    <h3>Nuestros últimos productos</h3>
    <%= link_to 'Ver mas'.html_safe, details_path, class: 'float-right' %>
  </div>

  <div class="row">
    <div class="col-12 mb-3">
      <div class="row m-3" id="lista">
        <%= render @details %>
      </div>
    </div>
  </div>

   
</div>


