var boton = '<a class="btn btn-sm btn-outline-danger" title="Agregar a mi Lista de Deseos" id="wishlist-<%= @detail.id %>" data-remote="true" rel="nofollow" data-method="POST" href="<%= detail_wishlist_path(@detail) %>"><i class="fas fa-heart"></i></a>'

$('#wishlist-<%= @detail.id %>').replaceWith(boton);