<%# Page info %>
	<div class="page-top-info">
		<div class="container">
			<h3>Productos</h3>
			<div class="site-pagination">
        <%= link_to 'Administración'.html_safe, '#' %>
				 /
				<%= link_to 'Productos'.html_safe , '#' %>
        /
				<%= link_to 'Agregar'.html_safe , '#' %>
			</div>
		</div>
	</div>
<%# Page info end %>

<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <%= render 'form', product: @product %>
    </div>
  </div>
</div>
