<%# Products- Show (Agregar detalle a Products) %>
<%# Ver: vendedor - admin %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <%# Detalles de Producto %>
      <%= render 'details' %>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <%= render 'table-details' %>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <%= render 'form-details' %>
    </div>
  </div>
</div>
<%= render 'modal' %>