<%# Page info %>
	<div class="page-top-info">
		<div class="container">
			<h2>Sugerencias y Solicitudes</h2>
			<div class="site-pagination">
        <%= link_to 'Administración'.html_safe, '#' %>
				 /
				<%= link_to 'Sugerencias y Solicitudes'.html_safe , '#' %>
			</div>
		</div>
	</div>
<%# Page info end %>

<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="table-responsive">
        <table class="table table-fullwidth">
          <thead>
            <tr>
              <th>ID </th>
              <th>Asunto</th>
              <th>Tipo de Sugerencia o Solicitud </th>
              <th>Usuario que ha realizado </th>
              <th>Fecha</th>
              <th>¿Revisado?</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <%= render @suggestions %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/modal' %>