<%# Detail - Index - Catalogo  %>
<div class="container">
    <div class="row">
        <h1 class="col-12">Catalogo </h1>

            <div class="input-group mb-3">
                <input type="text" name="buscador" id="buscador" class="form-control" placeholder="Busqueda por autor o título">
                <div class="input-group-append">
                    <span class="input-group-text bg-">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
    </div>
</div>

<div class="container">
    <div class="row" id="lista">
        <%= render @details %>      
    </div>
</div>

<script>
  $('#buscador').keyup(function () {
    var searchQuery = $('#buscador').val();
    
        $.ajax({
        type: "GET",
        url: "<%= details_path %>",
        data: { buscador: searchQuery }
        });
    
  });
</script>